/* || RESET */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

/* || VARIABLES */
:root {
    /* FONTS */
    --FF: 'Outfit', sans-serif;
    --FW-LIGHT: 300;
    --FW-REGULAR: 400;
    --FW-BOLD: 600;

    /* COLORS */
    --SOFT-BLUE: hsl(215, 51%, 70%);
    --CYAN: hsl(178, 100%, 50%);
    --BODY-BG: hsl(217, 54%, 11%);
    --CARD-BG: hsl(216, 50%, 16%);
    --LINE-COLOR: hsl(215, 32%, 27%);
    --WHITE: hsl(0, 0%, 100%);
}

/* || UTILITY CLASSES */
.sr-only {
    left: -10000px;
    position: absolute;
}

/* || GENERAL STYLES */
body {
    background: var(--BODY-BG);
    color: var(--SOFT-BLUE);
    display: grid;
    font-family: var(--FF);
    font-size: 1.125rem;
    font-weight: var(--FW-REGULAR);
    margin: 2rem 1rem;
    min-height: 100vh;
    place-content: center;
}

a {
    color: var(--WHITE);
    cursor: pointer;
    text-decoration: none;
}

/* || CARD */
.card {
    background: var(--CARD-BG);
    border-radius: 0.625rem;
    max-width: 350px;
    padding: 1.5rem;
}

/* NFT IMAGE */
.card__img {
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.card__img a::after {
    /* ADD OPACITY */
    --CYAN: hsl(178, 100%, 50%,0.5);

    align-items: center;
    background: var(--CYAN);
    border-radius: 0.625rem;
    content: url(../img/icon-view.svg);
    display: flex;
    inset: 0;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: all 0.25s ease;
}

.card__img a:hover::after {
    opacity: 1;
}

.card__img img{ 
    border-radius: 0.625rem;
}

/* TITLE */
.card__title {
    color: var(--WHITE);
    font-size: 1.5rem;
    font-weight: var(--FW-BOLD);
    padding: 1.5rem 0 1rem;
}

/* PARAGRAPH */
.card__p {
    font-weight: var(--FW-LIGHT);
    line-height: 1.8;
}

/* GROUP PRICE + TIME */
.card__group {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    margin: 1rem 0;
}

.card__price {
    align-items: center;
    color: var(--CYAN);
    display: flex;
    font-weight: var(--FW-BOLD);
    gap: 0.5rem;
}

.card__price[data-icon="eth-icon"]::before {
    background-image: url("../img/icon-ethereum.svg");
    content: "";
    height: 18px;
    width: 11px;
}

.card__time {
    align-items: center;
    display: flex;
    font-weight: var(--FW-LIGHT);
    gap: 0.5rem;
}

.card__time[data-icon="clock-icon"]::before {
    background-image: url("../img/icon-clock.svg");
    content: "";
    height: 17px;
    width: 17px;
}

/* AUTHOR */
.card__author {
    align-items: center;
    border-top: 1px solid var(--LINE-COLOR);
    display: flex;
    gap: 1rem;
    padding: 1rem 0 0;
}

.card__author img {
    border: 1px solid var(--WHITE);
    border-radius: 50%;
    width: 35px;
}

/* || FOOTER */
footer {
    margin-top: 1rem;
    max-width: 350px;
    text-align: center;
}